* {
  box-sizing: border-box;
}
@font-face {
  font-family: "caviar_dreamsregular";
  src: url(../fonts/CaviarDreams-webfont.ttf) format("truetype");
}
html,
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  font-size: 100%;
}
/*title du site*/
.title-site a {
  float: left;
  color: #fff;
  font-size: 35px;
}
/*container des titres*/
.bottom-header {
  text-align: center;
  padding: 12% 0;
}
/*titre 1*/
.title-header {
  font-family: "caviar_dreamsregular";
  color: #fff;
  font-size: 2.7em;
  background: #4b565d;
  padding: 10px;
  width: 50%;
  margin: 0 auto 2% auto;
}
/*titre 2*/
.title-header2 {
  font-family: "caviar_dreamsregular";
  color: #fff;
  font-size: 2.7em;
  background: #4b565d;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.top-header {
  background: rgba(
    73,
    84,
    91,
    0.84
  ); /*couleur du header en rgba pour l'opacité*/
  padding: 3% 0;
}
/*css container de la nav header*/
.container-nav {
  float: right;
}
.container-nav li {
  display: inline-block;
}
.container-nav li a {
  display: block;
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
}
.container-nav li a:hover {
  background: #fff;
  color: #4bcaff;
}
/*navigation du header*/
.nav-header {
  list-style: none;
}
.nav-header li a:hover {
  background: #fff;
  color: #4bcaff;
  text-decoration: none;
}
/*background du header*/
.content-header {
  width: 100%;
  height: 800px;
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}
/*partie portfolio*/
.background-portfolio{
  border:1px solid #009325;
}
.p-top {
  margin-bottom:5%;
  
  
}
.p-title {
  margin-top:0;
  padding-top:0;
  float:left;
  height:45px;
}
.portfolio-title{
  color: #333;
	font-size: 2em;
	font-family: 'caviar_dreamsregular';
}
.title-portfolio{
  position: relative;
  
}

.portfolio-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid #666;
  position: absolute;
  bottom: -10px;
  margin: 0 15px;
  margin-left: 0;
}
.clear{
  clear: both;
}
.portfolio img {
  max-width:100%;
  border:1px solid #009325;
  display: block;
}
.container-image{
  overflow:hidden;
  position: relative !important;
  display:inline-block;

border:1px solid #009325;
}
/*
#portfolio  {

  width: 23%;
 
  float:left;
  overflow:hidden;
  margin: 0 2% 2% 0;
}	*/


#nav-portfolio {
  margin:20px;

  float: right;
  list-style: none;
}
#nav-portfolio li a{
		padding: 4px 15px;
		text-decoration: none;
		color: #666;
		cursor: pointer;
		font-size: 16px;
		font-weight:500;
}

#nav-portfolio li {
  display:inline-block
}
#nav-portfolio li a:hover{
  text-decoration:none;
}

#nav-portfolio li a.active {
  border:2px solid #00B3FD;
  color:#00B3FD;
}


/*arrière plan de la partie just-section*/
.just-section {
  background: #515f67;
  padding: 6% 0;
  color: #fff;
}
.title-section-just {
  color: #fff;
  font-size: 2em;
  font-family: "caviar_dreamsregular";
  margin: 0 15px;
  margin-left: 0;
}
/*positionnement du titre*/
.section-just-title {
  position: relative;
  margin-bottom: 5%;
}
/*soulignement du titre just-section*/
.section-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -10px;
  margin: 0 15px;
  margin-left: 0;
}
/*button de la partie -just-section*/
.button a {
  color: #29353c;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 35px 9px 35px;
  display: inline-block;
  outline: none;
  transition: all 0.3s;
  border: 2px solid #29353c;
}
.button a:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #00b3fd;
}

/*titre de la partie follower*/
.title-follow {
  color: #fff;
  font-size: 2em;
  font-family: "caviar_dreamsregular";
  margin: 0 15px;
}
.follow-title {
  position: relative;
  margin-bottom: 5%;
}
/*soulignement du titre follower*/
.follow-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -10px;
  margin: 0 15px;
}

.follow {
  width: 100%;
  background: url(../images/follow.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  padding: 6% 0;
  color: #fff;
}
.video {
  width: 565px;
  height: 320px;
  overflow: hidden;
}
.paragraph-section {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.5em;
}

.follower li {
  background: none;
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}
/*affichage de l'icon 1 contenu dans une image de 4 icon*/
li.li-tweeter a {
  background: url(../images/sprite.png) no-repeat -315px -6px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}
li.li-tweeter a:hover {
  background: url(../images/sprite.png) no-repeat -315px -6px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}

/*affichage de l'icon 2 contenu dans une image de 4 icon*/
li.li-google a {
  background: url(../images/sprite.png) no-repeat -376px -6px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}
li.li-google a:hover {
  background: url(../images/sprite.png) no-repeat -376px -6px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}
/*affichage de l'icon 3 contenu dans une image de 4 icon*/
li.li-bal a {
  background: url(../images/sprite.png) no-repeat -429px -4px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}
li.li-bal a:hover {
  background: url(../images/sprite.png) no-repeat -429px -4px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}
/*affichage de l'icon 4 contenu dans une image de 4 icon*/
li.li-coffe a {
  background: url(../images/sprite.png) no-repeat 8px -76px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}
li.li-coffe a:hover {
  background: url(../images/sprite.png) no-repeat 8px -76px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}

/*css elements contact*/

.contact {
  width: 100%;
  background: url(../images/footer.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  padding: 6% 0;
}
.title-contact {
  color: #fff;
  font-size: 2em;
  font-family: "caviar_dreamsregular";
  text-transform: uppercase;
  margin: 0 15px;
}
.contact-title {
  position: relative;
  margin-bottom: 5%;
}
/*soulignement du titre contact*/
.contact-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -10px;
  margin: 0 15px;
}
/*style de la zone saisie des input pour la zonne contact*/
.listinput input[type="text"] {
  padding: 20px;
  width: 85%;
  color: #fff;
  font-size: 0.85em;
  border: 2px solid #fff;
  background: none;
  display: block;
  font-family: "Roboto", sans-serif;
}
/*couleur, taille et hauteur de ligne*/
.paragraph-right-1 {
  line-height: 1.8em;
  font-size: 0.85em;
  color: #fff;
  margin-bottom: 8%;
}
/*style de la zone saisie de text pour message*/
.text-area {
  padding: 20px;
  display: block;
  width: 100%;
  background: none;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  font-size: 0.85em;
  font-family: "Roboto", sans-serif;
  height: 200px;
}
/*style du boutton envoyer message*/
.contact-form input[type="submit"] {
  display: inline-block;
  color: #fff;
  background: #4bcaff;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 20px 160px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 5%;
  text-transform: uppercase;
}
/*style du survol de la souris sur le boutton message*/
.contact-form input[type="submit"] :hover {
  background: #fff;
  color: #4bcaff;
}
.content {
  margin: 10px 0;
}
.input-user {
  margin-bottom: 50px;
  color: #fff;
}
.contact-form {
  margin: 0 15px;
  color: #fff;
}
.adress p {
  font-size: 0.85em;
  line-height: 2em;
  color: #fff;
}
/*icon du bas pour remonter au début de la page*/
#up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}
/*css pour la barre de navigation du footer*/
.nav-footer {
  float: left;
  list-style: none;
  color: #536169;
  padding: 0;
}
.nav-footer li {
  display: inline-block;
  margin: 0;
}
.nav-footer li a {
  color: #536169;
  font-size: 0.85em;
  font-weight: 500;
  text-decoration: none;
}
.nav-footer li a:hover {
  color: #fff;
}
.footer {
  background: #353f47;
  padding: 6%;
}
/*css pour le copyright*/
.copyright {
  float: right;
}
.copyright p {
  color: #536169;
  font-size: 0.85em;
  text-decoration: none;
}
.copyright p a {
  color: #fff;
}

/*responsive */
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 800px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
/*isa*/
.twitter
{
    color:white;
    background:#4bcaff;
    font-size: 22px;
    font-family:"caviar dreams regular"; 
    
}
.follow-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -10px;
  margin: 0 15px;
}

#icon{

float: right;
  margin-top: 20px;
}

.paragraphe-twitter       
{
    font-size:72px;
    font-family:"bitter bold" 28px;

    
}
.twitter-title {
  color: #fff;
  font-size: 2em;
  font-family: "caviar_dreamsregular";
  text-transform: uppercase;
  margin: 5 15px;
}
.title-twitter {
  position: relative;
  margin-bottom: 5%;
  float: left;
}
.twitter-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -60px;
  left:-80px;
  margin: 5 15px;
  margin-left: 0;
}

.testimonials-title {
  color: #fff;
  font-size: 2em;
  font-family: "caviar_dreamsregular";
  text-transform: uppercase;
  margin: 5 15px;
  

}
.title-testimonials {
  position: relative;
  margin-bottom: 5%;
  float:left;
}
.clear{clear:both}
.quote{
  float:right;
  margin-top:20px;
}
.testimonials-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid#000;
  position: absolute;
  bottom: -10px;
  left: 0px;
  margin-left: 0;

}
.testimonials
{
    color:#515f67;
    font-size: 72px;
    font-family:"bitter bold"; 
    
}

.pragraphe-testimonials{

  font-family:"bitter bold" 72px;
  color:#515f67 ;

  
}
#walter{
  color:#4bcaff;
}
