* {
  box-sizing: border-box;
}

@font-face {
  font-family: "caviar_dreamsregular";
  src: url(../fonts/CaviarDreams-webfont.ttf) format("truetype");
}

.clear {
  clear: both;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  border:1px solid #930031;
  font-size:100%;
}
.container{
  border:1px solid #930031;
}
.row{
  border:1px solid rgb(197, 238, 15);

}
/*background du header*/
.content-header {
  width: 100%;
  height: 800px;
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}
/*css container de la nav header*/
.container-nav {
  float: right;
}
.container-nav li {
  display: inline-block;
}
.container-nav li a {
  display: block;
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
}
.container-nav li a:hover {
  background: #fff;
  color: #4bcaff;
}
/*navigation du header*/

.nav-header {
  list-style: none;
}
.nav-header li a:hover {
  background: #fff;
  color: #4bcaff;
  text-decoration: none;
}
/*couleur du header en rgba pour l'opacité*/
.top-header {
  background: rgba(
    73,
    84,
    91,
    0.84
  ); 
  padding: 3% 0;
}
/*title du site*/
.title-site a {
  float: left;
  color: #fff;
  font-size: 35px;
}
.title-site a:hover {
  text-decoration: none;
  color: #fff;
}
.bottom-header {
  padding:12% 0;
  text-align:center;
}
/*main header titre 1*/
.title-header {
  font-family: "caviar_dreamsregular";
  color: #fff;
  font-size: 2.7em;
  background: #4b565d;
  padding: 10px;
  width: 50%;
  margin: 0 auto 2% auto;
}
/*main header titre 2*/
.title-header2 {
  font-family: "caviar_dreamsregular";
  color: #fff;
  font-size: 2.7em;
  background: #4b565d;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}
/*container des titres et souignements*/

 /*services,who is john do,contact*/
.default-title{
  color:#fff;
  font-size: 2em;
	font-family: 'caviar_dreamsregular';
  margin:0 15px;
}
.title-default{
  margin-bottom: 5%;
  position: relative;
}
.btl-default{
	width: 50px;
	display: block;
	border-bottom: 2px solid #fff;
	position: absolute;
	bottom:-10px;
	margin:0 15px;
}
/*portfolio,testimoials*/
.default1-title {
	color: #333;
	font-size: 2em;
  font-family: 'caviar_dreamsregular';
}
.title-default1 {
  position: relative;
}
.btl-default1 {
	width:60px;
	display: block;
	border-bottom: 2px solid #515f67;
	position: absolute;
	bottom: 0px;
}
/*just default section,twitter*/
.default2-title {
	color: #fff;
	font-size: 2em;
	font-family: 'caviar_dreamsregular';
}
.title-default2 {
  position: relative;
	margin-bottom: 10%;
 }
 .btl-default2{
  width: 50px;
	display: block;
	border-bottom: 2px solid #fff;
	position: absolute;
	bottom:0px;
 }
/*partie service*/
.background-services {
  background-color: #4bcaff;
  padding:6% 0;
  color: #fff;
}
/*marge du haut sur la grile services*/
.size-grid {
  margin-top: 50px;
}
/*partie portfolio*/
.background-portfolio{
  padding:6% 0;
}
.container-title-portfolio{
  float:left;
}
.list-nav-portfolio{
  float: right;
}
#nav-portfolio {
  margin: 20px -30px ;
  list-style: none;
}

#nav-portfolio li a {
  padding: 4px 15px;
  text-decoration: none;
  color: #666;
  font-size: 16px;
  font-weight: 500;
}

#nav-portfolio li {
  display: inline-block;
}

#nav-portfolio li a:hover {
  text-decoration: none;
}

#nav-portfolio li a.active {
  border: 2px solid #00b3fd;
  color: #00b3fd;
}
.img-portfolio {
  display: inline-block;
  margin: 15px 0;
  width: 250px;
  height: 237px;
}


/*button de la partie -just-section*/
.background-just-section {
  background: #515f67;
  padding: 6% 0;
}
.paragraph-section{
  color: #FFF;
	font-size:15px;
	line-height: 1.8em;
}
.button a {
  color: #29353c;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 35px 9px 35px;
  display: inline-block;
  outline: none;
  transition: all 0.3s;
  border: 2px solid #29353c;
}
.button a:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #00b3fd;
}




/*partie twitter*/
.background-twitter{
  padding:5% 0;
  background: #4bcaff;
}
.container-title-twitter{
  float:left;
}
#icon {
  float: right;
  color: white;
  margin-top: 20px;
}
.paragraph-twitter {
  color: white;
  margin-top: 2%;
  font-size: 1.5em;
  font-family: "bitter bold" 28px;
}














/*titre de la partie follower*/
.background-follow {
  width: 100%;
  background: url(../images/follow.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  padding: 6% 0;
  color: #fff;
}




/*affichage de l'icon 1 contenu dans une image de 4 icon*/
li.li-tweeter a {
  background: url(../images/sprite.png) no-repeat -315px -6px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}

li.li-tweeter a:hover {
  background: url(../images/sprite.png) no-repeat -315px -6px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}

/*affichage de l'icon 2 contenu dans une image de 4 icon*/
li.li-google a {
  background: url(../images/sprite.png) no-repeat -376px -6px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}

li.li-google a:hover {
  background: url(../images/sprite.png) no-repeat -376px -6px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}

/*affichage de l'icon 3 contenu dans une image de 4 icon*/
li.li-bal a {
  background: url(../images/sprite.png) no-repeat -429px -4px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}

li.li-bal a:hover {
  background: url(../images/sprite.png) no-repeat -429px -4px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}

/*affichage de l'icon 4 contenu dans une image de 4 icon*/
li.li-coffe a {
  background: url(../images/sprite.png) no-repeat 8px -76px; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #fff;
}

li.li-coffe a:hover {
  background: url(../images/sprite.png) no-repeat 8px -76px #4bcaff; /*déplacement dans l'image principale pour atteindre l'image souhaiter*/
  border: 2px solid #00b3fd;
}





/*partie testimonials*/
.background-testimonials {
  padding: 6% 0;
}
.container-title-testimonials{
  float:left;
}
.quote {
  margin-top: 20px;
  float: right;
}
#video {
  width: 565px;
  height: 320px;
  overflow: hidden;
}
.paragraph-section {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.5em;
}
.follower li {
  background: none;
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}
.paragraph-testimonials {
  color: #555;
  font-size: 1.5em;
  margin: 3% 0;
}
#walter {
  color: #4bcaff;
  font-size: 0.95em;
}



/*css elements contact*/

.background-contact {
  width: 100%;
  background: url(../images/footer.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  padding: 6% 0;
}

.title-contact {
  color: #fff;
  font-family: "caviar_dreamsregular";
  margin: 0 ;
  font-size: 2em;
}
.contact-title {
  position: relative;
  margin-bottom: 5%;
  border:1px solid #935800;
}

/*soulignement du titre contact*/
.contact-btl {
  width: 50px;
  display: block;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -10px;
  margin: 0 ;
}

/*style de la zone saisie des input pour la zonne contact*/
.listinput input[type="text"] {
  padding: 25px;
  color: #fff;
  font-size: 0.85em;
  border: 2px solid #fff;
  background: none;
  display: block;
  font-family: "Roboto", sans-serif;
}

/*couleur, taille et hauteur de ligne*/
.paragraph-right-1 {
  padding: 15px;
  line-height: 1.8em;
  font-size: 0.85em;
  color: #fff;
  margin-bottom: 8%;
}
.adress {
  padding: 10px;
  line-height: 1.8em;
  font-size: 0.85em;
  color: #fff;
  margin-bottom: 8%;
}
/*style de la zone saisie de text pour message*/
.text-area {
  padding: 20px;
  display: block;
  width: 100%;
  background: none;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  font-size: 0.85em;
  font-family: "Roboto", sans-serif;
  height: 200px;
}

/*style du boutton envoyer message*/
.contact-form input[type="submit"] {
  display: inline-block;
  color: #fff;
  background: #4bcaff;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 20px 160px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 5%;
  text-transform: uppercase;
}

/*style du survol de la souris sur le boutton message*/

.contact-form input[type="submit"] :hover {
  background: #fff;
  color: #4bcaff;
}

.content {
  margin: 10px 0;
}

.input-user {
  margin-bottom: 50px;
  color: #fff;
}

.contact-form {
  margin: 0 15px;
  color: #fff;
}

.adress p {
  font-size: 0.85em;
  line-height: 2em;
  color: #fff;
}

/*icon du bas pour remonter au début de la page*/

#up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

/*css pour la barre de navigation du footer*/

.nav-footer {
  float: left;
  list-style: none;
  color: #536169;
  padding: 0;
}

.nav-footer li {
  display: inline-block;
  margin: 0;
}

.nav-footer li a {
  color: #536169;
  font-size: 0.85em;
  font-weight: 500;
  text-decoration: none;
}

.nav-footer li a:hover {
  color: #fff;
}

.footer {
  background: #353f47;
  padding: 6%;
}

/*css pour le copyright*/
.copyright {
  float: right;
}

.copyright p {
  color: #536169;
  font-size: 0.85em;
  text-decoration: none;
}

.copyright p a {
  color: #fff;
}

/*responsive */

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .title-header {
    font-size: 1.3em;
  }
  /*titre 2*/
  /*
  .title-header2 {
    font-size: 1.3em;
  }
  .container-nav li a {
    position: relative;
    left: -30px;
    font-size: 1.1em;
    padding: 2px 2px;
  }
  .content-header {
    height: 50%;
  }

  .list-nav-portfolio ul li a {
    text-align: center;
  }
  #nav-portfolio li a {
    padding: 1px 1px;
    font-size: 1.1em;
    font-weight: 500;
  }
  #nav-portfolio li {
    position: relative;
    left: -30px;
  }
  .center-elements {
    position: relative;
    left: -10px;
  }
  ul.follower {
    text-align: center;
    width: 80%;
    padding: 0 auto;
    margin: 20px;
  }
  /*style du boutton envoyer message*/
  /*
  .contact-form input[type="submit"] {
    padding: 20px 130px;
  }
}
/*
@media (max-width: 480px) {
  .title-services {
    font-size: 1.5em;
  }
  .title-portfolio{
    font-size: 1.5em;
  }
  .section-just-title {
    font-size: 1.5em;
  }
  .twitter-title {
    font-size: 1.5em;
  }
  .title-follow {
    font-size: 1.5em;
  }
  .title-testimonials {
    font-size: 5.5em;
  }
  .title-contact {
    font-size: 1em;
  }
  .title-header {
    font-size: 1em;
  }

  .title-header2 {
    font-size: 1em;
  }
  .container-nav li a {
    position: relative;
    left: -30px;
    font-size: 0.7em;
    padding: 2px 2px;
  }
  .header-content {
    height: 50%;
  }
 

  .list-nav-portfolio ul li a {
    text-align: center;
  }
  #nav-portfolio li a {
    padding: 4px 1px;
    font-size: 10px;
    font-weight: 500;
  }
  #nav-portfolio li {
    position: relative;
    left: -30px;
  }
  .center-elements {
    position: relative;
    left: -10px;
  }
  ul.follower {
    text-align: center;
    width: 80%;
    padding: 0 auto;
    margin: 20px;
  }
 
  .contact-form input[type="submit"] {
    padding: 20px 130px;
  }

    .contact-form input[type="submit"] {
      padding: 20px 75px;
    }
}

@media (max-width: 320px) {
  .header-content {
    height: 50%;
  }
  .title-services {
    font-size: 1.5em;
  }
  .title-portfolio{
    font-size: 1.5em;
  }
  .section-just-title {
    font-size: 1.5em;
  }
  .twitter-title {
    font-size: 1.5em;
  }
  .title-follow {
    font-size: 1.5em;
  }
  .title-testimonials {
    font-size: 5.5em;
  }
  .title-contact {
    font-size: 1em;
  }
  .title-header {
    font-size: 1em;
  }

  .title-header2 {
    font-size: 1em;
  }
  .container-nav li a {
    position: relative;
    left: -30px;
    font-size: 0.7em;
    padding: 2px 2px;
  }
  .content-header {
    height: 50%;
  }
  .list-nav-portfolio ul li a {
    text-align: center;
  }
  #nav-portfolio li a {
    padding: 4px 1px;
    font-size: 8px;
    font-weight: 500;
  }
  #nav-portfolio li {
    position: relative;
    left: -30px;
  }
  .center-elements {
    position: relative;
    left: -10px;
  }
 
  .contact-form input[type="submit"] {
    padding: 20px 75px;
  }
}*/
