* {
  box-sizing: border-box;
} 
@font-face {
  font-family: 'caviar_dreamsregular';
  src: url(../fonts/CaviarDreams-webfont.ttf) format('truetype');
}
html, body{
	font-family: 'Roboto', sans-serif;
	background:#fff;
	font-size: 100%;
}

.content-header {
  width:100%;
  height: 800px;
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  background-size: 100% 100%;

}
.top-header{
  border: 1px solid #930031;
}

nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

nav li {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid;
}

nav li a {
  display: block;
  text-decoration: none;
}